@import url("https://use.typekit.net/kuw2tbx.css");
@import url("https://use.typekit.net/svk4bas.css");
/* Styles for all pages */

body {
	font-family: century-gothic, sans-serif;
	background: #FFF4EA;
}

.header {
	font-family: "ff-cocon-pro", sans-serif;
	font-weight: 700;
	font-style: normal;
}
.subheader{
	font-family: "brevia", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.body {
	font-family: "poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.text-navy {
	color: #162b3e;
}

.text-babyblue {
	color: #a8c2e0;
}
.text-mutedrose {
	color: #cb7178;
}
.text-offwhite {
	color: #FFF4EA;
}

.bg-navy {
	background-color: #162b3e;
}
.bg-babyblue {
	background-color: #a8c2e0;
}
.bg-mutedrose {
	background-color: #cb7178;
}
.bg-offwhite {
	background-color: #FFF4EA;
}
.border-navy {
	border-color: #162b3e;
}
.border-babyblue {
	border-color: #a8c2e0;
}
.border-mutedrose {
	border-color: #cb7178;
}
.border-offwhite {
	border-color: #FFF4EA;
}
/* Style for the landing page */
#product-features .carousel-inner img {
    height: 350px; /* Set your desired height */
    object-fit: cover; 
}
  .custom-header {
        min-height: 60px;
	    font-family: "ff-cocon-pro", sans-serif;
    }
    .custom-body {
        min-height: 100px;
		font-family: "poppins", sans-serif;
    }
/* Style for the map page */

#map {
	height: 350px;
}

/* Styles for the calendar page */

.week-table td {
	width:  14.2%;
}

.week-table td:not(.inactive-day) {
	cursor:  pointer;
}

.week-table td:not(.inactive-day):hover {
	background: #fff4ea;
	color: #fff4ea;
}

td.selected-day {
	background: #35a8e0;
	color: white;
}

/* End of own styles */
