@import url("https://use.typekit.net/kuw2tbx.css");
@import url("https://use.typekit.net/svk4bas.css");
/* Styles for all pages */

body {
	font-family: century-gothic, sans-serif;
	background: #FFF4EA;
}

.header {
	font-family: "ff-cocon-pro", sans-serif;
	font-weight: 700;
	font-style: normal;
}
.subheader{
	font-family: "brevia", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.body {
	font-family: "poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.text-navy {
	color: #162b3e;
}

.text-babyblue {
	color: #a8c2e0;
}
.text-mutedrose {
	color: #cb7178;
}
.text-offwhite {
	color: #FFF4EA;
}

.bg-navy {
	background-color: #162b3e;
}
.bg-babyblue {
	background-color: #a8c2e0;
}
.bg-mutedrose {
	background-color: #cb7178;
}
.bg-offwhite {
	background-color: #FFF4EA;
}
.border-navy {
	border-color: #162b3e;
}
.border-babyblue {
	border-color: #a8c2e0;
}
.border-mutedrose {
	border-color: #cb7178;
}
.border-offwhite {
	border-color: #FFF4EA;
}
/* Style for the landing page */
#product-features .carousel-inner img {
    height: 420px; /* Set your desired height */
    object-fit: cover; 
}
  .custom-header {
        min-height: 60px;
	    font-family: "brevia", sans-serif;
    }
    .custom-body {
        min-height: 100px;
		font-family: "poppins", sans-serif;
    }

 #customer-testimonials {
        background-color: #FFF4EA; /* Match the website background */
        padding: 40px 0; /* Add padding to the section */
    }
    .card {
        transition: transform 0.3s ease; /* Smooth transition for hover effect */
        border: 1px solid #f8f9fa; /* Set border color to offwhite */
    }
    .card:hover {
        transform: scale(1.05); /* Slightly enlarge the card on hover */
    }
    .custom-body {
        min-height: 80px; /* Ensure consistent height for body text */
    }
    .bubble-card {
        position: relative;
        background-color: #FFF4EA; /* Match the website background */
        border-radius: 1.5rem; /* More rounded corners for the card */
        overflow: hidden; /* Ensure the bubble shape is maintained */
    }
    .rounded-5 {
        border-radius: 1.5rem; /* Increased rounding for a softer look */
    }
    .quote {
        position: relative;
        padding: 10px 20px; /* Add padding for the quote */
        font


/* End of own styles */